.card-body .top{
    border-top : 3px solid #62aeedf5;
    border-bottom : 1px solid #62aeedf5;
    background-color : #62aeedf5;
    color: #fff;
    font-weight : 600;
}

.card-body div{
    border-bottom : 1px solid #62aeedf5;
}

.card-body  div  div{
    display : inline-block;
    border-bottom : none;
    text-align : center;
    border-right : 1px solid #4d9dddf5;
}

.card-body .count{
    border-right : none;
}

.card-body .top > .title{
    text-align : center;
}

.card-body div .title{
    width : 55%;
    padding: 10px 0 10px 5px;
    text-align : left;
    font-weight : 500;
}

.card-body div .num ,.name ,.date ,.count {
    width : 10%;
    padding-top : 10px;
    padding-bottom : 10px;
}

.number{
    margin : 10px;
    padding-top : 20px;
    text-align : center;
}

.number li{
    display : inline-block;
}

.number li a{
    padding : 5px 10px 5px 10px;
    border : 1px solid #999;
}

.number li a.active{
    background-color : #62aeed91;
}

